@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-copayex-blue: #003366;
  --color-copayex-light-blue: #eef2ff;
  --color-copayex-gray: #6b7280;
  --color-copayex-bg: #f9fafb;
}

@layer base {
  body {
    @apply font-sans bg-copayex-bg text-gray-900;
  }
}
